<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />
<title>TOST</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/android-chrome-512x512.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/android-chrome-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
<link rel="manifest" href="/assets/img/site.webmanifest" />
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#d90452" />
<link rel="stylesheet" type="text/css" href="/assets/style/style.css?a=20230623" />
<!--<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />-->
<script type="text/javascript" src="/assets/js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/common.js?a=20230623"></script>
<script type="text/javascript" src="/assets/js/ajax_util.js?a=20230623"></script>
<script type="text/javascript" src="/assets/js/action.js"></script>
<script type="text/javascript" src="/assets/js/comm_func.js?a=20230623"></script>
<script type="text/javascript" src="/assets/js/comm_util.js?a=20230623"></script>
<script type="text/javascript" src="/assets/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="/assets/js/decimal.min.js"></script>
<script type="text/javascript" src="/assets/js/qrcode.min.js"></script>
<script type="text/javascript" src="/assets/js/qrPacked.js"></script>
<script type="text/javascript" src="/assets/js/jsQR.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/zoom.js"></script>

<script type="text/javascript">

    var cookieLang = getCookie('APPLICATION_LOCALE');
    if (cookieLang == null || cookieLang == 'undefined' || cookieLang == '')
    {
        cookieLang = 'ko';
    }
    loadBundles(cookieLang);

</script>