<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="common/header"></th:block>
    <style>
      div.lang {
        display: none;
        z-index:2;
        position: absolute;
        left: -110px;
        top: 30px;
        width: 160px;
        background-color:#fffcf2;
        padding: 5px 10px;
        border: 1px solid #878787;
        border-radius: 5px
      }
      div.lang > ul > li {
        padding-bottom: 5px;
        border-bottom: 1px solid #fdeeb2;
        margin-bottom: 5px;
      }
      div.lang > ul > li > img {
        vertical-align:middle;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="home-page container">
      <div class="header">
        <div class="logo">
          <div class="logo-image" onclick="location.href='/'">
            <img src="assets/images/logos/tost-logo.png" alt="logo" />
          </div>
        </div>
        <div class="header-icons">
          <div class="icon">
            <div class="wallet-image" id="user_btn">
              <img src="assets/images/icons/wallet.png" alt="user" />
            </div>
          </div>
          <div class="icon">
            <div class="setting-image" id="setting_btn">
              <img src="assets/images/icons/setting-large.png" alt="setting" />
            </div>
          </div>
          <div style="position: relative">
              <div style="width: 50px;text-align: right">
                <img
                        th:src="|/assets/images/icons/lang/${#locale}.png|"
                        onerror="this.src='/assets/images/icons/lang/ko_KR.png'"
                        style="border: 1px solid #878787;padding: 2px;border-radius: 5px"
                        width="30"
                        alt="logo"
                      onclick="$('.lang').toggle()"
                />
              </div>
              <div class="lang">
                <ul>
                  <li data="ko_KR"> <img src="/assets/images/icons/lang/ko_KR.png" width="30" alt="ko_KR" />한국어</li>
                  <li data="en_US"> <img src="/assets/images/icons/lang/en_US.png" width="30" alt="en_US" />English</li>
                  <li data="th_TH"> <img src="/assets/images/icons/lang/th_TH.png" width="30" alt="th_TH" />แบบไทย</li>
                  <li data="my_MM"> <img src="/assets/images/icons/lang/my_MM.png" width="30" alt="my_MM" />မြန်မာ</li>
                  <li data="en_PH"> <img src="/assets/images/icons/lang/en_PH.png" width="30" alt="en_PH" />Filipino</li>
                  <li data="ja_JP"> <img src="/assets/images/icons/lang/ja_JP.png" width="30" alt="ja_JP" />日本語</li>
                  <li data="es_ES"> <img src="/assets/images/icons/lang/es_ES.png" width="30" alt="es_ES" />Español</li>
                  <li data="zh_CN"> <img src="/assets/images/icons/lang/zh_CN.png" width="30" alt="zh_CN" />中国人</li>
                  <li data="ru_RU"> <img src="/assets/images/icons/lang/ru_RU.png" width="30" alt="ru_RU" />Русский</li>
                  <li data="lo_LA"> <img src="/assets/images/icons/lang/lo_LA.png" width="30" alt="lo_LA" />ພາສາລາວ</li>
                  <li data="mn_MN"> <img src="/assets/images/icons/lang/mn_MN.png" width="30" alt="mn_MN" />Монгол</li>
                  <li data="vi_VN"> <img src="/assets/images/icons/lang/vi_VN.png" width="30" alt="vi_VN" />Tiếng Việt</li>
                </ul>
              </div>
              <script>
                $('div.lang ul li').click(function (){
                  var lang = $(this).attr('data');
                  location.href = "?lang=" + lang;
                });
              </script>
          </div>
        </div>
      </div>
      <main>
        <div class="prize-money" style="display: none;">
          <div class="title" data-lang="view.winner.money">나의 총 수익</div>
          <div class="price-area">
            <span class="price-unit"> $</span>
            <div id="prizeMoney" class="counter" data-count="0" data-radix="4" data-separator="">
              0
            </div>
          </div>
        </div>
        <div class="today">
          <span id="today_crncyCd"></span>
          <span>전일대비</span>
          <span style="margin-right:5px"  id="today_percent">16% 상승</span>
          <span>오늘의</span>
          <span id="today_crncyCd"></span>
          <span>가격 : </span>
          <span id="today_price">2172.7521</span>
        </div>
        <div class="banner">
          <ul class="banner-carousel">
            <!--                <li class="banner-item">-->
            <!--                    <img src="/assets/images/banners/banner1.png" alt="logo">-->
            <!--                </li>-->
            <li class="banner-item">
              <img
                      th:src="|/assets/images/banners/tost_banner01_${#locale}.png|"
                      onerror="this.src='/assets/images/banners/banner2.png'"
                      alt="logo" />
            </li>
            <li class="banner-item">
              <img  th:src="|/assets/images/banners/tost_banner02_${#locale}.png|"
                    onerror="this.src='/assets/images/banners/banner3.png'" alt="logo" />
            </li>
          </ul>
        </div>
        <div class="staking">
          <button id="staking_btn" class="staking-button">
            지금 바로 tost 하세요
          </button>
        </div>
        <div class="description">
          <div class="desc-inner">
            <img
                    th:src="|/assets/images/banners/tost_main_${#locale}.png|"
                    onerror="this.src='/assets/images/banners/mainbanner1.png'"
              alt="mainbanner"
            />
          </div>
        </div>
        <div class="corp">
          <ul class="corp-list">
            <li
              class="corp-item"
              onclick="window.open('https://kompasswallet.io/')"
            >
              <div class="corp-logo">
                <img
                  src="assets/images/logos/kompass-large-logo.png"
                  alt="kompass"
                />
              </div>
              <div class="corp-name">Kompass</div>
            </li>
            <li
              class="corp-item"
              onclick="window.open('https://wallet.bitonechain.com/')"
            >
              <div class="corp-logo">
                <img
                  src="assets/images/logos/bitone-large-logo.png"
                  alt="kompass"
                />
              </div>
              <div class="corp-name">Bitone Wallet</div>
            </li>
            <li
              class="corp-item"
              onclick="window.open('https://www.lazyplay.io/')"
            >
              <div class="corp-logo">
                <img
                  style="height: 60px"
                  src="assets/images/logos/lazy-large-logo.png"
                  alt="kompass"
                />
              </div>
              <div class="corp-name">LAZY</div>
            </li>
          </ul>
        </div>
      </main>
      <ul class="alarm" id="notice_list">
      </ul>
  </div>


<div id="div_notice_item" style="display:none">
  <li class="alarm-list notice-item">
    <div class="alarm-desc">
        <div class="alarm-icon is-active">
            <img src="./assets/images/icons/alarm-on.png" alt="alarm" />
        </div>
        <div class="alarm-text" id="notice_title">
        </div>
    </div>
    <div class="alarm-date" id="notice_date"></div>
  </li>
</div>


    <script type="text/javascript" src="assets/js/countUp.min.js"></script>
    <script type="text/javascript">
      var pageAction = (function () {
        var init = function () {
          slickEvent();
        };


        function countUp(id, start, end, radix, separ) {
          $(".counter").each(function () {
            id = $(this).attr("id");
            start = 0;
            end = $(this).attr("data-count");
            radix = $(this).attr("data-radix");
            separ = $(this).attr("data-separator");
            var options = {
              useEasing: true,
              useGrouping: true,
              separator: separ,
              decimal: ".",
              prefix: "",
              suffix: "",
            };
            /**
                 [0] count ID
                [1] start count
                [2] end count
                [3] point
                [4] time
                [5] option
                */
            countup = new CountUp(id, start, end, radix, 3, options);
            countup.start();
          });
      }


        $("#login_btn").on("click", function () {
          location.href = "/login.tost";
        });

        $("#staking_btn").on("click", function () {
          location.href = "/tostList.tost";
        });



        /*postJson("/api/v1/tost/getMyRewardTotal", "", function (json) {
          console.log(json.data)
          if(json.data == null) {
            $(".prize-money").hide();
            return
          } else {
            $(".prize-money").show();
          }
          $("#prizeMoney").attr("data-count",json.data.rewardUsd)
          countUp()
        })*/

        /*postJson("/api/v1/wallet/getCoinRate", { crncyCd:"DST" }, function (json) {
          console.log(json.data)
          let data = json.data
          let rate = 0;
          i18n()
          if(data.rate[0]=== "-") {
            rate = Math.floor(data.rate * 10000) / 10000 + "% " + i18n('scrn.main.txt006');
          } else if (data.rate=== "0.00000000") {
            rate =  i18n('scrn.main.txt007');
          } else {
            rate = Math.floor(data.rate * 10000) / 10000 + "% " + i18n('scrn.main.txt005');
          }
        
          $('#today_crncyCd').html(data.crncyCd)
          $('#today_percent').html(rate)
          $('#today_price').html(Math.floor(data.bidPrice * 10000) / 10000)
        })*/

        /*getJson("/main_info", "", function (json) {
          var data = json.data;
          //로그인 여부
          if (data.session_yn == "N") {
            $("#user_btn").click(function () {
              location.href = "/login.tost";
            });
            $("#setting_btn").click(function () {
              location.href = "/login.tost";
            });
          } else if (data.session_yn == "Y") {
            $("#user_btn").click(function () {
              location.href = "/my_info.tost";
            });
            $("#setting_btn").click(function () {
              location.href = "/my_info/setting.tost";
            });
          }

          //출금 비밀번호 등록 여부
          if (data.smpl_yn == "N") {
            window.location.replace("/security_password.tost");
          }

          
        });*/
        /*postJson("/api/v1/board/notice/listMain", '', function (json){
          var data = json.data;

            $.each(data, function (k, v)
            {
              let newDate = new Date(v.regDtm)
              let date = v.regDtm.slice(0,10)

              var notice = $($('#div_notice_item').eq(0).html());
              $(notice).find('#notice_title').html(v.noticeTitle);
              $(notice).find("#notice_date").html(date)

              $('#notice_list').append(notice);

            });

            $('.notice-item').click(function(e){
              location.href = "/my_info/setting/notice.tost"
            })

            $(".alarm").slick({
              arrows:false,
              dots:false,
              autoplay: true,
              autoplaySpeed: 5000,
              vertical:true
            });
        })*/
        return {
          init: init,
        };
      })();

      $(function () {
        $(".banner-carousel").slick({
          dots: true,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 5000,
        });
        $(".corp-list").slick({
          dots: false,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 3000,
          variableWidth: true,
          draggable:false,
        });
        pageAction.init();
      });

    </script>
  </body>
</html>
